<html>
    <head>
        <title>
            Main Page
        </title>
    </head>
    <body>
        <button onClick="history.back()">Back</button>
        <form action="/add" method="POST">
            <input type="text" name="name" placeholder="name">
            <br>
            <input type="text" name="age" placeholder="age">
            <br>
            <input type="text" name="location" placeholder="location">
            <button type="submit">Add data</button>
            <br>
        </form>
    </body>
</html>